<mat-card class="list">
  <mat-card-title>
    <span class="list__title">
      {{ 'LIST' | translate }}
    </span>
  </mat-card-title>
  <mat-card-content class="list__content">
    <div class="list__item" *ngFor="let item of items; let i = index">
      <app-blood-glucose-index
        class="list__item-element"
        [bloodGlucoseIndex]="item?.bloodGlucoseIndex"
      ></app-blood-glucose-index>
      <mat-form-field [appearance]="appearance" class="list__name list__item-element">
        <mat-label>{{ 'NAME' | translate }}</mat-label>
        <input matInput [value]="item?.name" [readonly]="true" />
      </mat-form-field>
      <mat-form-field
        [appearance]="appearance"
        class="list__grams-to-carbohydrate list__item-element"
      >
        <mat-label>HC</mat-label>
        <input type="number" matInput [value]="item?.gramsToCarbohydrate" [readonly]="true" />
      </mat-form-field>
      <mat-form-field [appearance]="appearance" class="list__weigth list__item-element">
        <mat-label>{{ 'WEIGHT' | translate }}</mat-label>
        <input
          matInput
          maxlength="3"
          type="number"
          (change)="onWeightChange($event, item)"
          [value]="item.weight || 0"
        />
      </mat-form-field>
      <mat-form-field [appearance]="appearance" class="list__rations">
        <mat-label>{{ 'RATIONS' | translate }}</mat-label>
        <input matInput maxlength="3" [value]="item?.rations || 0" [readonly]="true" />
      </mat-form-field>
      <button mat-icon-button aria-label="delete item" (click)="removeItem(i)">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-card-content>
  <div class="list__total" *ngIf="items.length > 0">
    <h4>
      <b>{{ total }}</b> {{ 'RATIONS' | translate }}
    </h4>
  </div>
</mat-card>
